.fixed-top {
/*on host*/
    margin-top: 40px !important;
}

.mx-top-row {
    color: #131313;
    border-bottom: 1px solid #a09b9b00;
    box-shadow: antiquewhite;
    box-shadow: 0 0 4px 0px #cacaca;
    /*background-color: #e2e2e2;*/
}
.banner {
    padding-top: 124px;
}
.mx-i i{
    color: #c990bd;
    padding-right: 2px;
    padding-left: 5px;
}
.mx-i span{
    color: #3a3a3a;
    padding-right: 5px;
    padding-left: 5px;

}
.btn {
      padding: 1px 20px;

}
.mx-no-markers {
    list-style-type: none;
    padding: 0px 0px;
}
.custom-control {

    padding-left: 0rem;
}

element.style {
}
.single-team-member .team-info .info-front {

    background-color: #f0ffff85;
}
.mx-count {
    background-color: #eeeeee;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border-radius: 50px;

    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    font-size: 13px;
}
.single-team-member .team-info {
    position: relative;
 max-width: 100%;
}
.mx-price {
    color: #5f5f5f;
    font-weight: 700;
}

.single-team-member {
    margin-bottom: 50px;
}
.single-team-member .team-info {
    -webkit-transform: translateY(-0%);

}
.mx-bg-catalog-on-mp {
    background-color: #f5f5f5;
}
.widget .widget-logo, .widget .widget-title {
    margin-bottom: 22px;
}
table {
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border: 1px solid grey !important; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}
.list-check li:not(:last-child) {
    margin-bottom: 5px;
}
.mx-price-in-item {
    color: #28a745;
    font-weight: 700;
    font-size: 22px;
}
.mx-color-in-item {
    color: #17a2b8;
    font-weight: 400;
    font-size: 16px;

}
.mx-text-center {
    margin-left: 30%;
}




@media screen and (max-width: 800px) {
  .breadcrumb-area span{
      font-size: 12px;
      text-align: left !important;
  }

    .pagination li:first-child {
        display: none;
    }
    .pagination li:last-child {
        display: none;
    }
    .mx-text-center {
        margin-left: 0%;
    }
    .pagination li {
        margin: 0 0px;
    }

}